@model YurtDb.Models.BasvuruFormu


<div class="container">
    <div class="col-md-12 text-center">
        <button type="button" class="btn btn-primary adimBtn" id="adim0">Giriş</button>
        <button type="button" class="btn btn-outline-primary adimBtn" id="adim1">Öğrenci Bilgileri (1.Adım)</button>
        <button type="button" class="btn btn-outline-primary adimBtn" id="adim2">Oda Bilgileri (2.Adım)</button>
        <button type="button" class="btn btn-outline-primary adimBtn" id="adim3">İndirim ve Evraklar (3.Adım)</button>
        <button type="button" class="btn btn-outline-primary adimBtn" id="adim4">Ek Alanlar (4.Adım)</button>
        <button type="button" class="btn btn-outline-primary adimBtn" id="adim5">Kayıt İşlemi (5.Adım)</button>
    </div>
</div>
@if (Model.basvuruAdimi == 0)
{
    <div class="offset-md-4 mt-4 col-md-4">
        <div class="card shadow p-3 mb-5 bg-white rounded" style="width: 18rem;">
            <div class="card-body">
                @using (Html.BeginForm("girisKontrol", "Home", FormMethod.Post))
                {
                    <div class="form-group">
                        <label for="Numara">TC No</label>
                        @Html.EditorFor(model => model.tcNo, new { htmlAttributes = new { @class = "form-control", placeholder = "Öğrenci Numaranız", type = "text", minLenght = "11", maxlength = "11" } })
                    </div>
                    <div class="form-group text-center ">
                        <button class="btn btn-success ">Devam Et</button>
                    </div>
                }
            </div>
        </div>

    </div>
}
else if (Model.basvuruAdimi == 1)
{
    <div class="offset-md-3 mt-4 col-md-6">
        <div class="card shadow p-3 mb-5 bg-white rounded" style="width: 37rem;">
            <div class="card-body">
                @using (Html.BeginForm("ogrenciBilgileriKontrol", "Home", FormMethod.Post))
                {
                    <div class="col-md-12 mb-4 text-center">
                        <h5>Öğrenci Bilgileri</h5>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="formGroupExampleInput">Ad</label>
                                @Html.EditorFor(model => model.ogrenciBilgileri.adi, new { htmlAttributes = new { @class = "form-control", placeholder = "Adı", type = "text" } })

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="formGroupExampleInput">Soyad</label>
                                @Html.EditorFor(model => model.ogrenciBilgileri.soyadi, new { htmlAttributes = new { @class = "form-control", placeholder = "Soyadı", type = "text" } })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="formGroupExampleInput">TC Kimlik No</label>
                                @Html.EditorFor(model => model.ogrenciBilgileri.tcNo, new { htmlAttributes = new { @class = "form-control", placeholder = "Tc", type = "text" } })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="formGroupExampleInput">Öğrenci No</label>
                                @Html.EditorFor(model => model.ogrenciBilgileri.ogrenciNo, new { htmlAttributes = new { @class = "form-control", placeholder = "Öğrenci No", type = "text" } })

                            </div>
                        </div>
                    </div>
                    <!--
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="Fakülte">Fakülte</label>
                                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="Bölüm">Bölüm</label>
                                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
                            </div>
                        </div>
                    </div>
                        -->
                    <div class="form-group text-center ">
                        <input type="submit" class="btn btn-success " value="Devam Et" />
                    </div>
                }
            </div>
        </div>

    </div>
}
else if (Model.basvuruAdimi == 2)
{
    <div class="offset-md-3 mt-4 col-md-6">
        <div class="card shadow p-3 mb-5 bg-white rounded" style="width: 37rem;">
            <div class="card-body">
                @using (Html.BeginForm("odaBilgileriKontrol", "Home", FormMethod.Post))
                {<div class="col-md-12 mb-4 text-center">
                        <h5>Oda Bilgileri</h5>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="inputState">Oda Tipi</label>
                                <select id="odaTipleri" class="form-control" onchange="odaTipleriComboboxChange()">
                                    <option selected></option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group" id="öncelikCombobox" style="visibility:hidden;">
                                <label for="inputState">Öncelik Durumu</label>
                                <select id="indirimTipleri" class="form-control" onchange="odaTipleriComboboxChange()">
                                    <option selected></option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="card shadow p-3 mb-5 bg-white rounded" style="width:100%;">
                        <div class="card-body">
                            <h5 class="text-danger text-center" id="fiyatBilgisi"></h5>
                        </div>
                    </div>

                    <div class="form-group text-center ">
                        <button class="btn btn-success ">Devam Et</button>
                    </div>
                }
            </div>
        </div>

    </div>

}
else if (Model.basvuruAdimi == 3)
{
    <div class="offset-md-3 mt-4 col-md-6">
        <div class="card shadow p-3 mb-5 bg-white rounded" style="width: 37rem;">
            <div class="card-body">
                @using (Html.BeginForm("ogrenciBilgileriKontrol", "Home", FormMethod.Post))
                {
                    <div class="col-md-12 mb-4 text-center">
                        <h5>Evrak Bilgileri</h5>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="formGroupExampleInput">Ad</label>
                                @Html.EditorFor(model => model.ogrenciBilgileri.adi, new { htmlAttributes = new { @class = "form-control", placeholder = "Adı", type = "text" } })

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="formGroupExampleInput">Soyad</label>
                                @Html.EditorFor(model => model.ogrenciBilgileri.soyadi, new { htmlAttributes = new { @class = "form-control", placeholder = "Soyadı", type = "text" } })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="formGroupExampleInput">TC Kimlik No</label>
                                @Html.EditorFor(model => model.ogrenciBilgileri.tcNo, new { htmlAttributes = new { @class = "form-control", placeholder = "Tc", type = "text" } })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="formGroupExampleInput">Öğrenci No</label>
                                @Html.EditorFor(model => model.ogrenciBilgileri.ogrenciNo, new { htmlAttributes = new { @class = "form-control", placeholder = "Öğrenci No", type = "text" } })

                            </div>
                        </div>
                    </div>
                    <!--
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="Fakülte">Fakülte</label>
                                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="Bölüm">Bölüm</label>
                                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
                            </div>
                        </div>
                    </div>
                        -->
                    <div class="form-group text-center ">
                        <input type="submit" class="btn btn-success " value="Devam Et" />
                    </div>
                }
            </div>
        </div>

    </div>
}


